@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Work+Sans:wght@300&display=swap');

*{
  margin:0;
  padding:0;
}

:root{
  --str:#f55823;
  --strhov:#f77540;
  --clm:#FFB30B;
  --drk:#7a1e14;
  --drkmd:#fccaac;
}

header, button, input, textarea, .font{
  font-family:'Work Sans', sans-serif;
}

header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100vw;
  padding:2em;
  box-sizing:border-box;
  /*box-shadow: 0 0 5px black;*/
}

a{
  text-decoration:none;
  color:black;
  font-weight:bold;
}

button{
  font-family:'Work Sans', sans-serif;
  cursor:pointer;
}

header h1{
  margin-left:0.3em;
}

.hero h1{
  margin-top:12%;
  margin-bottom:0.3em;
  font-size:6rem;
  text-shadow:0 1px 3px black;
}

.hero h2{
  font-size:3.5rem;
  font-weight:lighter;
  text-shadow:0 1px 3px black;
}

.sign h1{
  margin-top:19%;
  margin-bottom:0.5em;
  text-align:center;
  font-size:3.5rem;
}

.sign h3{
  text-align:center;
  margin-bottom:0.5em;
}

.sign-form input{
  margin:0.8em auto;
  padding: 0.7em 1.2em;
  width:80%;
  border-radius:0.5em;
  font-size:1.1rem;
}

.dashboard-header h1{
  margin-left:0.5em;
}

.add-post h1{
  text-align:center;
  font-size:2.2rem;
  margin-bottom:1em;
}

.add-post-form label{
  font-weight:bold;
  font-size:1.2rem;
  margin-bottom:1em;
}

.add-post-form button{
  text-align:center;
}

.thumbnail-footer h3{
  margin:0 2em;
}

.post-header span{
  font-size:1.8rem;
}

.post-buttons h3{
  font-size:1.6rem;
}

.post-like p{
  font-weight:bold;
  font-size:1.3rem;
}

.comments h1{
  margin-bottom:1em;
}

.comments hr{
  margin:2em 0;
  border:2px solid var(--str);
}

.comment span{
  font-size:1.2rem;
}

.profile-header h1{
  font-size:2.5rem;
  margin-top:0.5em;
}

.profile-header img{
  width:6em;
  margin-right:0.5em;
}

.profile-name label{
  font-size:2rem;
  font-weight:bold;
  margin-right:1em;
}

.profile-name input{
  padding: 0.7em 1.2em;
  width:60%;
  border-radius:0.5em;
  font-size:1.1rem;
}

.profile-posts h2{
  margin:2em 0 1em 1.5em;
}

.ban-section label{
  font-size:1.2rem;
  font-weight:bold;
  margin-top:1em;
  margin-left:2em;
}

.underline:hover{
  text-decoration: underline;
}

.hero-btn:hover{
  box-shadow:0 0 8px black;
}

.header-btn:hover{
  box-shadow:0 1px 4px black;
}

.signin-btn:hover{
  background-color:var(--strhov);
}

.signup-btn:hover{
  background-color:#333333;
}

.bg-1, .bg-2, .bg-3, .bg-4, .bg-5{
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
  position:absolute;
  z-index:-100;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
} /*importante el div con position absolute para meter imagen*/

.bg-1{
  background-image: url("../public/wave.svg");
}

.bg-2{
  background-image: url("../public/back.svg");
}

.bg-3{
  background-image: url("../public/add.svg");
}

.bg-4{
  background-image: url("../public/dash.svg");
}

.bg-5{
  background-image: url("../public/mod.svg");
}

.bg-dp{
  background-color:#444444;
}

.prof{
  padding-bottom:6em;
}

.strhov{
  color: var(--strhov);
}

.drkmd{
  color: var(--drkmd);
}

.pointer-events{
  pointer-events:none;
}

.burger{
  display:none;
}

.hero{
  width:90%;
  margin:0 auto;
  font-family:'Merriweather', serif;
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.hero-btns{
  margin-top:2em;
}

.hero-btn, .sign-btn, .add-btn{
  font-size:2rem;
  margin:0 1em;
  padding:0.3em 1.6em;
}

.header-btn{
  font-size:1.1rem;
  margin:0 0.5em;
  padding:0.3em 0.6em;
}

.friend-btn{
  font-size:1.5rem;
  margin:0 0.5em;
  padding:0.3em 0.6em;
}

.signin-btn{
  background-color:var(--str) !important;
  border:none;
  border-radius:0.5em;
  color:white;
  transition:all 0.5s;
}

.signup-btn{
  background-color:black;
  border:none;
  border-radius:0.5em;
  color:white;
  transition:all 0.5s;
}

.sign{
  width:50%;
  margin:0 auto;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.sign-form{
  width:60%;
  padding:2em 0;
  margin-bottom:1em;
  border-radius:0.5rem;
  display:flex;
  flex-direction:column;
}

.dashboard, .profile-posts, .userboard{
  width:90%;
  margin:2em auto;
  border-radius:0.5rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.dashboard, .profile-posts{
  padding:3em 0;
}

.userboard{
  padding:0.5em 0;
}

.dashboard-header{
  display:flex;
  justify-content:space-between;
  margin:2em;
}

.add-post, .add-code{
  margin:2.5em auto;
  padding:3em 0;
  border-radius:0.5rem;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.add-code{
  width:70%;
}

.add-post, .add-post-form{
  width:90%;
}

.add-post-form-section{
  margin:2em 0;
}

.add-post-form-button{
  display:flex;
  justify-content:center;
}

.add-input, .add-textarea{
  padding-top:0.5em;
  padding-left:0.5em;
  padding-bottom:0.5em;
  width:100%;
  border-radius:0.3em;
  font-size:1.1rem;
  font-weight:bold;
}

.add-textarea{
  resize:none;
}

.add-code-text{
  width:90%;
  font-size:1.2rem;
  font-weight:bold;
  margin:1em auto;
  text-align:center;
}

.thumbnail{
  width:95%;
  cursor:pointer;
  margin:2em auto;
  padding:1em 0;
  border-radius:0.5em;
  border:3px solid var(--str);
  transition:all 0.5s;
}

.thumbnail-header{
  margin:0.5em 1.5em;
  display:flex;
  justify-content:space-between;
}

.thumbnail-body{
  margin:2em;
}

.thumbnail-footer{
  margin:0.5em 0;
  display:flex;
  justify-content:center;
}

.post, .comments{
  width:90%;
  margin:3em auto;
  padding:1.5em;
  border-radius:0.5em;
}

.post{
  border:3px solid var(--str);
}

.post-header{
  font-size:1.5rem;
  display:flex;
  justify-content:space-between;
}

.post-body{
  font-weight:bold;
  font-size:1.4rem;
  margin:3em;
}

.post-buttons{
  margin:0 2em;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.post-like, .comment-likes, .user-thumbnail-img{
  display:flex;
  align-items:center;
}

.like{
  margin-right:1em;
  font-size:1.2rem;
  padding:0.7em 0.8em;
  border-radius:2rem;
}

.not-liked, .liked:hover, .comment-edition:hover{
  background-color:transparent;
  border:2px solid var(--str);
  color:var(--str);
  transition:all 1s;
}

.liked, .not-liked:hover{
  background-color: var(--str);
  border:2px solid var(--str);
  color:white;
  transition:all 1s;
}

.comments{
  width:85%;
}

.comment-textarea{
  margin-bottom:2em;
}

.comment{
  margin:2em auto;
  padding:1em 0;
  border-radius:0.5em;
  border:2px solid var(--str);
}

.comment-body{
  margin:0.8em 2em 1.5em 2em;
}

.comment-footer{
  margin:0.5em 2em;
  display:flex;
  align-items:center;
  justify-content:space-between;
}



.dlt{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.dlt-btn{
  margin:1em;
}

.profile{
  width:90%;
  margin:3em auto;
  padding:3em 0;
  border-radius:1rem;
  display:flex;
  flex-direction:column;
}

.profile-header{
  padding:0 5em 0.5em 5em;
  display:flex;
  align-items:flex-start;
  justify-content:space-between;
}

.profile-name{
  position:relative;
  padding:2em;
  display:flex;
  align-items:center;
  justify-content:center;
}

.profile-btn{
  font-size:1.5em;
  border:none;
  background-color:transparent;
}

.edit-profile-name{
  position:absolute;
  right:14%;
}

.save-profile-name{
  position:absolute;
  right:17%;
}

.profile-align{
  text-align:center;
}

.profile-role, .user-mail{
  font-size:1.3rem;
  display:flex;
  align-items:center;
}

.profile-role{
  justify-content:center;
  margin-bottom:1em;
}

.profile-request{
  color:var(--str);
  margin-left:2em;
  margin-top:0.1em;
}

.friend-picture{
  width:4em;
}

.user-mail{
  margin:0.6em 0 1em 0;
  padding:0 3.5em;
  justify-content:space-between;
}

.request-title{
  display:flex;
  justify-content:flex-end;
  font-size:3rem;
  width:87%;
  margin:1em auto 1em auto;
}

.request-text{
  font-size:1.1rem;
  font-weight:bold;
  margin-bottom:1.5em;
}

.code-text{
  text-align:center;
  font-size:1.2rem;
  font-weight:bold;
  margin:1.3em 0 0.2em 0;
}

.ban-section{
  flex-direction:column;
  width:100%;
}